<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - SenchaExtJs.com</title>
         @Styles.Render("~/css/bootstrap.min.css")
         @Styles.Render("~/css/application.css")
       
         @Scripts.Render("~/js/application.js")

        <style>
            html {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            body {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            div {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            p {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            h3 {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            h4 {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            h2 {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
            }

            h1 {
                font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
                font-weight: 100;
                font-size: xx-large;
            }

            ul.listico {
                list-style-image: url('../images/Vote-512.png') !important;
                background-position: 0% 0%;
                background-repeat: repeat;
            }
           .stButton .stMainServices {
background-image: url(/images/facebook_counter.png);
background-repeat: no-repeat;
display: inline-block;
white-space: nowrap;
font-family: Verdana,Helvetica,sans-serif;
font-size: 11px;
height: 29px !important;
padding-top: 3px;
padding-bottom: 3px;
line-height: 16px;
width: auto;
position: relative;
}
.stButton .stButton_gradient {
background-repeat: repeat-x;
border: 1px solid #bfbfbf;
padding: 2px;
font-family: serif;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
height: 22px !important;
background: #d5d5d5;
background: -moz-linear-gradient(top,#d5d5d5 0,#efefef 48%,#fff 94%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d5d5d5),color-stop(48%,#efefef),color-stop(94%,#fff));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5',endColorstr='#ffffff',GradientType=0);
}

        </style>
 
        
    </head>
    <body style="background-color:#fff;">
      <header>
            <div class="container text-center col-lg-12" style="background-color: rgb(63, 63, 63);">
                <div class="" style="margin-left: 0px; margin-right: 0px; margin-top: 2%;">

                    <div class="logo">
                @Html.Raw(@Html.ActionLink("[replacetext]", "index", "Home").ToHtmlString().Replace("[replacetext]", "<img src=\"../images/SenchaJobs-Logo-SenchaExtJS-Jobs.png\" class=\"img-responsive center-block\" alt=\"SenchaExtJS SenchaExtJS Jobs\"/>"))
            </div>
                    
                </div>
                <div class="container text-center">
                    <div style="text-align: center;">
                        <div class="text-center">
                            <p style="font-size: 1.40em; font-weight: 200; color: #01e9ff;">Connecting Passionate JavaScript Developers with Start-ups, Companies and Organizations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
        <div id="body" >
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
<footer class="col-lg-12" style="padding:0px;">
 
  <div class="col-lg-12 " style="background:#3f3f3f;">
  <div class="container">
  <p class="lead text-center " style="font-size:2em;color:#5c97f1;">Sencha ExtJS. JavaScript. Apps. Developers. Jobs. Contracts.</p>
  <p>&nbsp;</p>
  <div class="col-lg-4">
      <small>
      <a href='@Url.Action("Sitemap","Account")' target="new">Site Map</a><br>
        <a href="feed.rss" target="new">SenchaExtJsJobs Jobs RSS Feed</a><br>
        <a href="feed.atom" target="new">SenchaExtJsJobs Jobs Atom Feed</a><br>
        <a href="www.twitter.com" target="new" rel="me">SenchaExtJsJobs Jobs on Twitter( &#64;senchaextjsjobs)</a><br>
        <a href="www.facebook.com" target="new" rel="me">SenchaExtJsJobs.com Facebook Page</a><br>
      </small>
    </div>
    <div class="col-lg-4 ">
      <small>
        <a href="https://about.flipboard.com/" target="new" rel="me">Flipboard Curated by SenchaExtJsJobs.com</a><br>
        <a href="http://www.scoop.it/" target="new" rel="me">Scoop.it Curated by SenchaExtJsJobs.com</a><br>
        <a href="http://www.slideshare.net/" target="new" rel="me">SenchaExtJsJobs.com on Slideshare</a><br>
        <a href="http://builtwith.com/" target="new" rel="me">SenchaExtJsJobs.com is Built With</a><br>
        <a href="http://plus.google.com" target="new" rel="me">SenchaExtJsJobs Jobs on Google+</a><br>
        <a href="https://coderwall.com/welcome" target="new" rel="me">SenchaExtJsJobs on coderwall</a><br>
      </small>
    </div>
    <div class="col-lg-4 ">
      <small>
        <a href="http://www.linkedin.com" target="new" rel="me">SenchaExtJsJobs.com LinkedIn Company Page</a><br>
        <a href="https://angel.co/" target="new" rel="me">SenchaExtJsJobs.com Angel List Profile</a><br>
        <a href="https://dealroom.co/" target="new" rel="me">SenchaExtJsJobs.com on dealroom</a><br>
        <a href="https://www.crunchbase.com/" target="new" rel="me">SenchaExtJsJobs.com on Crunch Base</a><br>
        <a href='@Url.Action("Policy","Account")'>Privacy Policy</a><br>
      </small>
    </div>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="col-lg-12 "style="background:#e0e0e0;">
  <div class=" container" >
    <small class="pull-left" style="margin-top: 1%;">Copyright &copy; 2015 Sencha ExtJs Jobs.com, All Rights Reserved.</small>
    <div class="pull-right">
      <div class="row" style="margin-top: 1%;">
        <strong>Bitcoin and Credit Card Processing Powered By:</strong>
    
        <a href="#" target="blank" rel="nofollow">
          <img src="../images/coinbase_logo_transparent_small.png" alt="coinbase logo">
        </a>
        <a href="#" target="blank" rel="nofollow">
          <img width="80px" src="../images/stripe-black.png" alt="stripe logo">
        </a>
      </div>
    </div>
  </div>
  </div>
  
</footer>


<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "8a53fb64-d254-4658-ae5b-ea1e512ab48e", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
