@{
    ViewBag.Title = "Posts4";
    Layout = "~/Views/Shared/Posts.cshtml";
}

<div class="container">
    <div class="col-lg-12"><img src="../images/tri.png" class="img-responsive" style="margin-left: -9px;"/></div> 
    
<div class="row" style="margin-top: 50px;">
  <article itemscope="" itemtype="#" class="well">
    <header>
      <a itemprop="url" href="https://www.smartrecruiters.com">
        <h2 itemprop="name" style="color:#9e3d34;line-height:1;">Front End Engineer at Udacity in Mountaiin View, CA, Contract or Full-time</h2>
      </a>
    </header>
    <p>Posted: <em itemprop="datePosted" datetime="2015-01-26">January 26th, 2015 21:00</em></p>
    <meta itemprop="description" content="">
    <meta itemprop="sameAs" content="#">
    <meta itemprop="skills" content="javascript, senchaextjs">
    <hr>
    <a class="btn btn-block btn-primary btn-lg" href="https://www.smartrecruiters.com" rel="nofollow" style="background:#58a73e;">Click Here to Apply</a>
    <hr>
    <div class="user-content">
      <p></p><h4>Company Description</h4>
<p>Victory is a rapidly growing company based in Pittsburgh, PA with a casual but hard-working environment. Our employees relish in the fact that what they do makes a difference.</p>
<p>Perhaps most importantly, the hard work of our employees provides long term value for the military community and for the largest companies in the world. &nbsp;We seek creative, career-minded, self-starting leaders who want to make a difference in the world.&nbsp;</p>
<p>&nbsp;</p>
<h4>Job Description</h4>
<p>The Software Engineer is responsible for defining and developing software-based solutions as prescribed by the product management team in an Agile (Scrum) shop environment. &nbsp;Using his or her inherent skills, the Software Engineer implements web-based software applications for use by external customers as well as Victory employees which provide solutions to defined problem domains.</p>
<p>&nbsp;</p>
<h4>Resources &amp; Benefits</h4>
<ul>
<li>Candidate's preferred hardware (i.e. MacBook Pro or PC)</li>
<li>JIRA project management software</li>
<li>Text editor</li>
<li>Graphics editing applications</li>
<li>Third party CRM’s (i.e. SalesForce)</li>
<li>Individual coding environment set up by DevOps Engineer with subsequent integration, staging, and live sites&nbsp;</li>
<li>QA Analyst and Eggplant automated testing software for bug identification</li>
<li>Health, Dental, Vision, Disability, Life, Vacation and Paid Holidays</li>
<li>Casual dress code</li>
<li>Free coffee</li>
<li>Lounge complete with ping pong table&nbsp;</li>
</ul>
<p>&nbsp;</p>
<h4>Activities</h4>
<p>Solution Definition - Proposes solutions to specific problem domains.</p>
<p>Scope Definition - Provides detailed description for the implementation of solution to proposed problem domain.</p>
<p>Estimation - Based upon the scope definition, provide accurate estimation in appropriate unit measurement of all tasks associated with the implementation of the solution as described in the scope definition.</p>
<p>Implementation - Proceed to perform all tasks as described in the scope definition, maintaining the highest quality standards, while constantly attempting to perform those tasks within the time limits as provided by the provided time estimations.</p>
<p>Progress Monitoring - Using issue and progress monitoring tools provided to team members, maintain an ongoing and timely description of current status of development efforts. Provide product and engineering management up to date description of any encountered obstacles or incidents that may compromise the completion of any assigned tasks, also in a timely manner.</p>
<p>&nbsp;</p>
<h4>Qualifications</h4>
<ul>
<li>Bachelors degree from accredited institute of higher learning in computer science, information science, or related field</li>
<li>Minimum 3 to 5 years experience working in a professional capacity as a software engineer, OR 5 to 7 years without a degree</li>
<li>Extensive experience using HTML and CSS</li>
<li>Extensive experience using one or more server-side programming languages such as Ruby, PHP, Java, or Python</li>
<li>Experience using an MVC-based web development framework such as Rails or Django</li>
<li>Professional software development experience with one or more of the following relational databases: MySQL, PostgreSQL, or Oracle</li>
<li>Very strong Javascript skills and professional experience with some of the more popular Javascript-based libraries like jQuery, Sencha Ext.Js, Ember.js etc.&nbsp;</li>
<li>Experience working on teams of three or more developers using git, mercurial, or svn for source control</li>
<li>Experience working in the Agile (Scrum) project management environment</li>
<li>Strong debugging and general analytical skills and the ability to work in a fast-paced environment juggling multiple tasks</li>
</ul>
<p>&nbsp;</p><p></p>
    </div>
    <ul class="well list-unstyled list-inline social-inline">
      <li><strong>Share this Opportunity:</strong></li>
      <li><span class='st_sharethis_hcount' displayText='ShareThis'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_email_hcount' displayText='Email'></span>
      </li>
    </ul>
    <a class="btn btn-block btn-primary btn-lg" href="https://www.smartrecruiters.com" rel="nofollow" style="background:#58a73e;">Click Here to Apply</a>
  </article>
</div>
<div class="row">
  <div class="well">
    <h2>More SenchaExtJs Jobs</h2>
    <ul class="list list-unstyled">
      <li> <a href='@Url.Action("Posts1","Account")'>
       Slick design focused Sencha Ext Js developer with experience in RoR at Dashmote -Amsterdam The Netherland
      </a></li>
      <li><a href='@Url.Action("Posts9","Account")'>
       Senior Sencha ExtJs/ UI Developers -Work in Manhattan New York City
      </a></li>
      <li><a href='@Url.Action("Posts2","Account")'>
      Lead and Developers -Sencha ExtJs and Node.js in New York,NY
      </a></li>
      <li><a href='@Url.Action("Posts6","Account")'>
       MEAN-stack Developer at AirPair. Join a YCombinator Startuo in San Franciso,CA
      </a></li>
      <li><a href='@Url.Action("Posts4","Account")'>
       Front End Engineer at Udacity in Mountaiin View, CA, Contract or Full-time
      </a></li>
    </ul>
  </div>
</div>
<div class="row  text-center">
  <h1 style="margin-top:10px;margin-bottom:20px;font-weight: 900;">Serving Sencha ExtJS Developers Since MMXIII</h1>
  <p>&nbsp;</p>
  <div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
  <a href='@Url.Action("Profile","Account")' class="btn btn-lg btn-success btn-block" style="white-space:normal;line-height:1.66;background:#58a73e;">
    <p style="font-size:1.8em;line-height:1;"><strong>Developers</strong></p>
    <p style="font-size:1.1em;line-height:1;margin-bottom:0;">Click Here</p>
  </a>
</div>
<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
  <a href='@Url.Action("Client","Account")' class="btn btn-lg btn-primary btn-block" style="white-space:normal;line-height:1.66;background:#2873ea;">
    <p style="font-size:1.8em;line-height:1;"><strong>Employers</strong></p>
    <p style="font-size:1.1em;line-height:1;margin-bottom:0;">Click Here</p>
  </a>
</div>

</div>
 <p>&nbsp;</p>
</div>
