@{
    ViewBag.Title = "Posts1";
    Layout = "~/Views/Shared/Posts.cshtml";
}

<div class="container">
  <div class="col-lg-12"><img src="../images/tri.png" class="img-responsive" style="margin-left: -9px;"/></div>   
    
<div class="row" style="margin-top: 50px;">
  <article itemscope="" itemtype="#" class="well">
    <header>
      <a itemprop="url" href="https://www.smartrecruiters.com">
        <h2 itemprop="name" style="color:#9e3d34;line-height:1;">Slick design focused Sencha Ext Js developer with experience in RoR at Dashmote -Amsterdam The Netherland</h2>
      </a>
    </header>
    <p>Posted: <em itemprop="datePosted" datetime="2015-01-26">January 26th, 2015 21:00</em></p>
    <meta itemprop="description" content="">
    <meta itemprop="sameAs" content="#">
    <meta itemprop="skills" content="javascript, senchaextjs">
    <hr>
    <a class="btn btn-block btn-primary btn-lg" href="https://www.smartrecruiters.com" rel="nofollow" style="background:#58a73e;">Click Here to Apply</a>
    <hr>
    <div class="user-content">
      <p></p><h4>Company Description</h4>
<p>Founded in 1998, Kitware is a leader in the creation and support of open- source software and state-of-the-art technology, and is one of the fastest growing software companies in the country. Kitware leverages its diverse technical expertise to provide advanced custom solutions for a host of complex technical problems.</p>
<p>Kitware collaborates on basic and applied research and development projects that span all forms of data management, analysis, and visualization. Our collaborators include the top universities from around the world, national research labs, medical device manufacturers, and many others. Our team uses the latest technologies to build novel web applications for our customers and communities, including dynamic, interactive visual interfaces to display millions of data points spanning scientific, social media, finance, health data, imagery, and video.</p>
<p>&nbsp;</p>
<h4>Job Description</h4>
<p>Kitware is seeking to hire highly skilled Research and Development Engineers (R&amp;D Engineers) to join our Scientific Computing team and contribute to our scientific and information visualization efforts. Candidates will work to develop and improve leading visualization software solutions.</p>
<p>You will perform challenging design and development work on our diverse set of software applications and service products, on the web, desktop and mobile. Your responsibilities in the team will include:</p>
<ul>
<li>Leading the development of user interfaces.</li>
<li>Working closely with users to ensure that user experience requirements and objectives are met.</li>
<li>Collaborating with developers to ensure that the user interface design works with the technical solution, and to propose new designs within technical constraints that still provide a positive user experience.</li>
</ul>
<p>&nbsp;</p>
<h4>Qualifications</h4>
<p>You have:</p>
<p>&nbsp;</p>
<ul>
<li>A genuine passion for front-end development.</li>
<li>Good presentation and written skills.</li>
<li>Attention to detail.</li>
<li>Demonstrable, relevant work experience.</li>
</ul>
<p>&nbsp;</p>
<p>With regards to technology, you possess:</p>
<ul>
<li>Deep and fluent knowledge of HTML5, CSS3 &amp; Javascript/jQuery.</li>
<li>Experience with Javascript frameworks (e.g., SenchaExtJs, Backbone.js, Ember.js)</li>
</ul>
<p>You have worked with:</p>
<ul>
<li>Responsive design websites, either from scratch or using a framework (e.g., Bootstrap, Foundation).</li>
<li>Development tools such as package managers and software versioning.</li>
</ul>
<p>Optional:</p>
<ul>
<li>Experience using HTML5 mobile front-end SDKs (e.g., Ionic, Meteor) is a plus.</li>
<li>3D components, either vanilla WebGL or frameworks (e.g., Three.js, Unity) is a plus.</li>
<li>Design experience is a plus.</li>
</ul>
<p>&nbsp;</p>
<h4>Additional Information</h4>
<p>Candidates that have a strong preference should indicate their preferred office location somewhere in their cover letter or resume. &nbsp;Available offices include Clifton Park, NY; Carrboro, NC or Santa Fe, NM.</p>
<p>Kitware team members enjoy a small company environment, flexibility in work assignments, and high levels of independence and responsibility. &nbsp;Besides a great work environment, our comprehensive benefits package includes a generous compensation plan, flexible working hours, six weeks paid time off, 401(k), health insurance, life insurance, short- and long-term disability insurance, bonus plan, and free coffee, drinks and snacks.</p>
<p>&nbsp;</p><p></p>
    </div>
    <ul class="well list-unstyled list-inline social-inline">
      <li><strong>Share this Opportunity:</strong></li>
      <li><span class='st_sharethis_hcount' displayText='ShareThis'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_email_hcount' displayText='Email'></span>
      </li>
    </ul>
    <a class="btn btn-block btn-primary btn-lg" href="https://www.smartrecruiters.com" rel="nofollow" style="background:#58a73e;">Click Here to Apply</a>
  </article>
</div>
<div class="row">
  <div class="well">
    <h2>More SenchaExtJs Jobs</h2>
    <ul class="list list-unstyled">
      <li> <a href='@Url.Action("Posts6","Account")'>
      MEAN-stack Developer at AirPair. Join a YCombinator Startuo in San Franciso,CA
      </a></li>
      <li><a href='@Url.Action("Posts7","Account")'>
      Sencha ExtJs Frontend Developer(full-time/part-time/freelance). Berlin based, Remote possible
      </a></li>
      <li><a href='@Url.Action("Posts9","Account")'>
     Senior Sencha ExtJs/ UI Developers -Work in Manhattan New York City
      </a></li>
      <li><a href='@Url.Action("Posts3","Account")'>
       Urgent:Exciting opportunity at a premier Hedge/Venture fung in San Francisco,CA
      </a></li>
      <li><a href='@Url.Action("Posts4","Account")'>
       Front End Engineer at Udacity in Mountaiin View, CA, Contract or Full-time
      </a></li>
    </ul>
  </div>
</div>
<div class="row  text-center">
  <h1 style="margin-top:10px;margin-bottom:20px;font-weight: 900;">Serving Sencha ExtJS Developers Since MMXIII</h1>
  <p>&nbsp;</p>
  <div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
  <a href='@Url.Action("Profile","Account")' class="btn btn-lg btn-success btn-block" style="white-space:normal;line-height:1.66;background:#58a73e;">
    <p style="font-size:1.8em;line-height:1;"><strong>Developers</strong></p>
    <p style="font-size:1.1em;line-height:1;margin-bottom:0;">Click Here</p>
  </a>
</div>
<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
  <a href='@Url.Action("Client","Account")' class="btn btn-lg btn-primary btn-block" style="white-space:normal;line-height:1.66;background:#2873ea;">
    <p style="font-size:1.8em;line-height:1;"><strong>Employers</strong></p>
    <p style="font-size:1.1em;line-height:1;margin-bottom:0;">Click Here</p>
  </a>
</div>

</div>
 <p>&nbsp;</p>
</div>