@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_InnerPages.cshtml";
}

<div class="container">
   <div class="col-lg-12"><img src="../images/tri.png" class="img-responsive" style="margin-left: -9px;"/></div>  
    <div class="row">
  <h2>SenchaExtJsJobs.com site map</h2>
  <hr>
  <p>
    <a href='@Url.Action("Index","Home")'>SenchaExtJs Jobs Home Page</a>
  </p>
  <p>
    <a href='@Url.Action("Builder","Account")'>Job Post Builder</a>
  </p>
  <p>
    <a href='@Url.Action("Client","Account")'>The SenchaExtJsJobs Talent Solution</a>
  </p>
  <p>
    <a href='@Url.Action("Profile","Account")'>Developer Introductions</a>
  </p>
  <p>
    <a href='@Url.Action("Policy","Account")'>Privacy Policy</a>
  </p>
  <p>
    <a href="feed.rss">RSS Feed</a>
  </p>
  <p>
    <a href="feed.atom">Atom Feed</a>
  </p>
  <hr>
  <p><strong>Job Posts</strong></p>
 <ul class="list list-unstyled" style="line-height:2.3em;">
     <li> <a href='@Url.Action("Posts1","Account")'>
       Slick design focused Sencha Ext Js developer with experience in RoR at Dashmote -Amsterdam The Netherland
      </a></li>
      <li><a href='@Url.Action("Posts2","Account")'>
       Lead and Developers -Sencha ExtJs and Node.js in New York,NY
      </a></li>
      <li><a href='@Url.Action("Posts3","Account")'>
      Urgent:Exciting opportunity at a premier Hedge/Venture fung in San Francisco,CA
      </a></li>
      <li><a href='@Url.Action("Posts4","Account")'>
     Front End Engineer at Udacity in Mountaiin View, CA, Contract or Full-time
      </a></li>
      <li><a href='@Url.Action("Posts5","Account")'>
       Junior Developer to Build Project Management Solutions - Broklyn New York
      </a></li>
       <li> <a href='@Url.Action("Posts6","Account")'>
      MEAN-stack Developer at AirPair. Join a YCombinator Startuo in San Franciso,CA
      </a></li>
      <li><a href='@Url.Action("Posts7","Account")'>
      Sencha ExtJs Frontend Developer(full-time/part-time/freelance). Berlin based, Remote possible
      </a></li>
       <li><a href='@Url.Action("Posts8","Account")'>
       Senior Sencha ExtJs Front End Engineer in Redwood City, CA
      </a></li>
      <li><a href='@Url.Action("Posts9","Account")'>
     Senior Sencha ExtJs/ UI Developers -Work in Manhattan New York City
      </a></li>
    </ul>
</div>

<br/>
<br/>


  </div>
